{% extends "base.html" %}

{% block content %}
    <h1>Hey {{ request.cookies.get('userID') }}</h1>
    <h1>Here are the available flights:</h1>
    <form action="/capacity_filter" method="post" style="margin: 0; padding: 0;">
        <input  type="submit" value="Filter by" style="display: inline;">
        <input type="text" placeholder="min seats remaining" name="min_capacity" style="display: inline;">
    </form>
    <form action="/airline_filter" method="post" style="margin: 0; padding: 0;">
        <input  type="submit" value="Filter by" style="display: inline;">
        <input type="text" placeholder="choose your airline" name="airline_choice" style="display: inline;">
    </form>
    <p><a href="/menu">Go back to the main menu</a></p>
    {% for flight in flights %}
    <form action="/book_flight" method="post">
        <div class="flight">
            <p class="bottomless topless">Flight ID: {{ flight.flight_id }}</p>
            <p class="bottomless topless">Airline: {{ flight.airline_name }}</p>
            <p class="bottomless topless">Aircraft model: {{ flight.aircraft_model }}</p>
            <p class="bottomless topless">Aircraft capacity: {{ flight.aircraft_capacity }}</p>
            <p class="bottomless topless">From: {{ flight.depart_airport_name }}</p>
            <p class="bottomless topless">To: {{ flight.arrival_airport_name }}</p>
            <p class="bottomless topless">Seats remaining: {{ flight.remaining_seats }}</p>
            <input type="hidden" name="f_id" value={{flight.flight_id}} />
            <input type="hidden" name="s_id" value={{flight.remaining_seats}} />
            <div class="centerer"><input type="submit" value="Book this Flight!"></div>
        </div>

    </form>
    {% endfor %}
    <p><a href="/menu">Go back to the main menu.</a></p>

{% endblock %}

<!-- 
CREATE TABLE ticket (
    ticket_id int NOT NULL AUTO_INCREMENT,
    passenger_id int NOT NULL,
    flight_id int(16) NOT NULL,
    fare int,
    PRIMARY KEY (ticket_id),
    FOREIGN KEY(passenger_id) REFRENCES passenger(uid) ON DELETE CASCADE,
    FOREIGN KEY(flight_id) REFERENCES flight(flight_id) ON DELETE CASCADE 
); -->