{% extends "base.html" %}

{% block content %}
    <h1>Hey {{ request.cookies.get('userID') }}</h1>
    <h1>Here are the available flights:</h1>
    <p><a href="/avail_flights">Go back to all available flights</a></p>
    {% for flight in flights %}
    <form action="/book_flight" method="post">
        <p>Flight ID: {{ flight.flight_id }}</p>
        <p>Airline: {{ flight.airline_name }}</p>
		<p>Aircraft model: {{ flight.aircraft_model }}</p>
		<p>Aircraft capacity: {{ flight.aircraft_capacity }}</p>
        <p>From: {{ flight.depart_airport_name }}</p>
        <p>To: {{ flight.arrival_airport_name }}</p>
        <p>Seats remaining: {{ flight.remaining_seats }}</p>
        <input type="hidden" name="f_id" value={{flight.flight_id}} />
        <input type="submit" value="Book this Flight!">
    </form>
    {% endfor %}

{% endblock %}

<!-- 
CREATE TABLE ticket (
    ticket_id int NOT NULL AUTO_INCREMENT,
    passenger_id int NOT NULL,
    flight_id int(16) NOT NULL,
    fare int,
    PRIMARY KEY (ticket_id),
    FOREIGN KEY(passenger_id) REFRENCES passenger(uid) ON DELETE CASCADE,
    FOREIGN KEY(flight_id) REFERENCES flight(flight_id) ON DELETE CASCADE 
); -->