{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <!-- https://stackoverflow.com/questions/11556958/sending-data-from-html-form-to-a-python-script-in-flask -->
    <form action="/login" method="post">
        <div class="same_line">
            <input type="text" id="login_input" name="user_id" placeholder="User ID">
            <input type="submit" id="login_button" value="Login">
        </div>
    </form> 
    <h1>Sign Up</h1>
    <!-- https://stackoverflow.com/questions/11556958/sending-data-from-html-form-to-a-python-script-in-flask -->
    <p>Don't have an account? <a href="/signup">Create one here.</a></p>
{% endblock %}