{% extends "base.html" %}

{% block content %}
    <h1>Create an Account</h1>
    <!-- https://stackoverflow.com/questions/11556958/sending-data-from-html-form-to-a-python-script-in-flask -->
    <form action="/signup" method="post">
        <p class="bottomless">First name</p>
        <input type="text" class="wide" name="first_name">
        <p class="bottomless">Last name</p>
        <input type="text" class="wide" name="last_name">
        <br>
        <div class="centerer"><input type="submit" value="Sign up"></div>
    </form>
{% endblock %}